html,
body {
    font-family: fake-font;
    font-size: 20px;
}

code {
  display: inline-block;
  padding: 2px 6px;
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, sans-serif;
  background: #ddd;
  color: #00B;
  border-radius: 3px;
}

.fake-font {
  font-family: another-fake-font;
}

input {
   display: block;
   padding: 10px;
   font-size: 20px;
   width: 90%;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

th, td {
  border: 1px solid black;
  padding: 5px;
}

.font-family {
  width: 400px;
}

.render {
  font-size: 50px;
}

.result {
  font-family: Helvetica, Arial;
  font-weight: bold;
  white-space: nowrap;
}

#available-fonts-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Arial;
}

#available-fonts-list li {
  display: inline-block;
  margin: 2px;
  border: 1px solid black;
  padding: 2px 4px;
}

.available {
  background: green;
  color: white;
}
